{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style_login2.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

  </head>
  <body>
  <div class="container">
    
    <div class="caixadelogin">
      <div class="logoEstoque"><img src="{% static 'images/logo.png' %}" alt="logo Estoque Facil"> 
      
      </div>
      <div class="login">
        <h1>Login</h1>
      </div>
<form id="loginForm" method="POST" action="{% url 'login_submit' %}">
  {% csrf_token %}
  <div class="ibox">
    <input type="text" name="username" placeholder="Usuário" required />
    <i class="bx bxs-user"></i>
  </div>
  <div class="ibox">
    <input type="password" name="access_key" placeholder="Chave de Acesso" required />
    <i class="bx bxs-lock-alt"></i>
  </div>
  <div class="loginMessage"> {% for message in messages %}{{ message }}{% endfor %} </div>
  <button type="submit" class="botao">Login</button>
</form>

    </div>
  </div>
  </body>
</html>
